body  
        {
        background-color: #dddddd; 
        font-size:90%;
        font-family: tahoma, arial, sans-serif;
        }

#header {
        background: url("../header_background.jpg") top left;
        font-family: verdana;
        border: solid 1px #005860;
        border-bottom: 0px; 
        text-align: left;
        height: 100px;
        font-size:200%;
        }
   
        
#footer
        {
        border: solid 1px #005860;
        background-color: #999999;
        color: #005860;
        text-align: center;
	  font-size: 75%;
        }
        
        
#main2  {
        border: solid 1px #005860;
        width:864 px;
        }
        

#left   {
        font-size:90%;
        float:left;
        width:15%;
        margin:0; 
        padding:0;
        padding-top:50px;
        }
        
        
#middle {
        color: #000000;
        background-color: #ffffff;
        margin: 0px 0px 0px 15%;
        padding: 50px 5px;
        width:70%;
        }

        
.column-in, header-in      
        {
        }
                
.column-in2{
        background-color: #ffffff;
        border-bottom: solid 1px #005860;
        }
                
.column-in2 a:hover
        {
        background-color: #ffffff;
        border-bottom: solid 1px #005860;
        }        
        
.header-in
        {
        }
        
.cleaner {
        border-right: solid 1px #005860;
        }

h1      {
        color:#dddddd;
        margin-bottom:5px
        }

        
h2, h3, h4
        {
        color:#001848;
        margin-bottom:5px
        }
        
h1      {
        font-size: 150%;
        }
        
h2      {
        font-size: 130%;
        border: 0px;
        padding: 5px;
        color: #001848;
        font-weight: 100;
        }
        
h3      {
        font-size: 120%;
        font-weight: 100;
        }
        
h4      {
        font-weight: 110;
        }
        
        

p       {}
        
a       { 
        color:black;
        text-decoration: underline;
        }

a:hover
        {
        color: #005860;
        background-color: #999999;
        }

    /**** Menu box ****/        
        
.menu0, .menu1, .menu2, .menur
	{        
        }

a.menu0, a.menu1, a.menu2
        {
        }
        

a.menu0, a.menu1, a.menu2, a.menur, a.forum_menu
	{
	text-decoration: none;
        background: #ffffff;
        opacity: .7;
	filter: alpha(opacity=70);
        border: 1px solid #ffffff;
        border-top: 1px solid #ffffff;     
        border-bottom: 1px solid #dddddd;
	color: #005860;
        }   
 a.menu1b, a.menu1b:hover, a.menu1b:visited, a.menu1b:link 
       {
	text-decoration: none;
        background: #ffffff;
        opacity: .7;
	filter: alpha(opacity=70);
        border: 1px solid #446644;
        border-top: 1px solid #CC0000;     
        border-left: 1px solid #CC0000;
	color: #ff4444;	   
    }
a.menu0:visited, a.menu1:visited, a.menu2:visited, a.menur:visited
	{
	color: #446644;
	text-decoration: none;
	}
        
a.sampmenu:hover
        {
	background: #ddffdd;
        border-bottom: 1px solid #005860;
        text-decoration:none;
        }
        
a.menu0:hover, a.menu1:hover, a.menu2:hover, a.menur:hover 
	{
	text-decoration: none;
        border-top: 1px solid #005860;
        border-bottom: 1px solid #005860;
	background: #ddeeed;
	}
  
a.menu0:link, a.menu1:link, a.menu2:link, a.menur:link  
	{
	text-decoration: none;
        border-top: 1px solid #ffffff;     
        border-bottom: 1px solid #dddddd;
	text-decoration: none;
	} 

.menu0
        {
        font-weight: bold; 
	}

.menu1
	{
        font-size: 85%;
	text-decoration: none;
	}

.menu2
	{
	font-size: 85%;
	font-weight: bold; 
       border: 0px;
        }
        
.menur, .forum_menu
	{
	font-size: 80%;
	}

span.status{
        display: inline-block;
        float: left;
        margin-left: 50px;
        font-size: 130%;
        font-weight: 600;
        font-color: #000000;
        font-family: Helvetica, Gill Sans,Lucida;
        font-variant: small-caps
        }
        
.sortlink img
        {
        border: 0px;
        } 
              

div.float select, .menubutton
        {
        border: solid 1px #005860;    
        background-color: #dddddd;
        }          
        
    /**** Sample navigation ****/


.samplelink, .samplenav
	{
        background: #dddddd;
        border: 1px solid #cceedd;   
        font-size: 90%;
	text-decoration: none;
        }
        
a.samplelink, a.samplenav 
        {
	text-decoration: none;
        background: #ddffee;
        opacity: .7;
	filter: alpha(opacity=70);
        border-bottom: 1px solid #dddddd;
	color: #005860;     
        }
            
a img.noborder        
        {
	border: 0px;
	}
        
.noborder a img
        {
        border: 0px;
        }
acronym 
        {
        border: 0px;
        }        
        
table.form1
        {
        margin: 1px;
        margin-top: 15px;
        padding: 5px;
        border: solid 2px #ff9922;
        }
        
table.form1 td, table.metainsert td
        {
        margin: 0px;
        padding: 5px;
        background-color: #dddddd;
        border: 0px;
        }           
        
table.metainsert td.datacell
        {
        border: 1px solid #ff9922;
        background-color: #ffffff;        
        }
        
  /**** labelled table ***/ 
  
table.labelled, table.metainsert
        {
        margin-left: 15px;

        }        
table.labelled td
        {
        border: 1px solid #ff9922;
        padding: 0px 10px;
        height: 25px;
        }
        
table.labelled td.label_back
        {
        background-color: #dddddd;
        border: 0px;
        }

table.labelled td.label_back_small
        {
        background-color: #dddddd;
        border: 0px;
        font-size: 80%;
        }


table.labelled td a
        {
        font-size: 90%;
        }
            
            
            
table.labelled td.noborder
        {
        border: 0px;
        }

table.labelled td.noborder_href
        {
        border: 0px;
        font-size: 100%;
        color: #005860;
        }


.underlined
        {
        padding: 0px;
        border: 0px;
        font-size: 90%;
        color: #000000;
        border-bottom: solid 1px #000000;
        background-color: #ffffff;
        }    


.underlined:hover
        {
        color: #005860;
        background-color: #999999;
        }
            
.formel_1, .formel_2, .formel_text, .date_drop
        {
        border: solid 1px #005860;    
        background-color: #ffffff;
        height: 18px;
        width: 100px;
        }  

.date_drop
        {
        width: 64px;
        }        
        
.formel_1
        {
        width: 300px;
        } 
        
.formel_2
        {
        width: 220px;
        }             
        
.formel_text
        {  
        height: 200px;
        width: 200px;
        }
        
table.export
        { 
        color: #ff9922;
        border: solid 1px #ff9922;   
        }

table.export td
        {
        border: 0px;
        font-size: 90%;
        }
        
table td.title, span.title
        {
        font-size: 130%;
        border: 0px;
        padding: 5px;
        color: #001848;
        }
                
td.header
        {
        color: #000000;
        font-size: 90%;
        background-color: #eeeeee;
        }        

table.export td.last                     
        {
        color: #000000;
        background-color: #444444;
        color: #eeeeee;
        border-bottom: solid 2px #ff9922;
        border-top: solid 1px #ff9922;
        }
        
table.export  a
        {
        padding: 1px;
        color: #ffffff;
        text-decoration: none;
        }
        
table.export  a:hover
        {
        background-color: #ffffff;
        color: #556677;
        }
        
.errors, .warnings
        {
        font-size: 110%;
        color: #ff0000;
        }
        